<button (click)="initNewTeam()">Create New Team</button>

<table>
  <thead>
    <th>City</th>
    <th>Name</th>
    <th>Stadium</th>
    <th>Titles</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.city }}</td>
      <td>{{ team.name }}</td>
      <td>{{ team.stadium }}</td>
      <td>{{ team.titles }}</td>
      <td><button (click)="editTeam(team)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-team
  [team]="teamToEdit"
  (teamsUpdated)="updateTeamList($event)"
></app-edit-team>
