<mat-card>
  <div class="create">
    <button
      matRipple
      [matRippleCentered]="true"
      [matRippleUnbounded]="true"
      (click)="initNewTeam()"
      mat-raised-button
      color="primary"
    >
      Create New Team
    </button>
  </div>
  <table mat-table [dataSource]="teams" class="mat-elevation-z8">
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let team">{{ team.city }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td  mat-cell *matCellDef="let team">{{ team.name }}</td>
    </ng-container>

    <ng-container matColumnDef="stadium">
      <th mat-header-cell *matHeaderCellDef>Stadium</th>
      <td mat-cell *matCellDef="let team">{{ team.stadium }}</td>
    </ng-container>

    <ng-container matColumnDef="titles">
      <th mat-header-cell *matHeaderCellDef>Titles</th>
      <td mat-cell *matCellDef="let team">{{ team.titles }}</td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let team">
        <button (click)="editTeam(team)" mat-stroked-button color="basic">
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <!-- <table>
  <thead>
    <th>City</th>
    <th>Name</th>
    <th>Stadium</th>
    <th>Titles</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.city }}</td>
      <td>{{ team.name }}</td>
      <td>{{ team.stadium }}</td>
      <td>{{ team.titles }}</td>
      <td><button (click)="editTeam(team)" mat-stroked-button color="basic">Edit</button></td>
    </tr>
  </tbody>
</table> -->

  <app-edit-team
    [team]="teamToEdit"
    (teamsUpdated)="updateTeamList($event)"
  ></app-edit-team>
</mat-card>
